
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 13:54:51 Oct 20, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:26:04 Sep 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.545
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.007
  esindex: 0.016
  cdx.remote: 14.725
  LoadShardBlock: 301.937 (3)
  PetaboxLoader3.datanode: 94.508 (5)
  PetaboxLoader3.resolve: 435.561 (3)
  load_resource: 287.599 (2)
*/