
/*
** HTML elements
*/
fieldset {
  margin-bottom: 1em;
  padding: .5em;
}
form {
  margin: 0;
  padding: 0;
}
hr {
  height: 1px;
  border: 1px solid gray;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}

/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}
.clear-block {
  display: block;
}
/* End hide from IE-mac */

/*
     FILE ARCHIVED ON 13:54:00 Oct 20, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:26:04 Sep 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.962
  exclusion.robots: 0.035
  exclusion.robots.policy: 0.02
  esindex: 0.033
  cdx.remote: 34.604
  LoadShardBlock: 146.519 (3)
  PetaboxLoader3.datanode: 90.282 (5)
  PetaboxLoader3.resolve: 164.579 (3)
  load_resource: 155.852 (2)
*/