
#edit-mollom-captcha {
  display: block;
}

/* Help themes to properly display Mollom's log messages. */
.dblog-event pre,
#simpletest-result-form table td {
  white-space: pre-wrap;
}

/*
     FILE ARCHIVED ON 13:54:01 Oct 20, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:26:04 Sep 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.574
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.01
  cdx.remote: 9.834
  LoadShardBlock: 112.131 (3)
  PetaboxLoader3.datanode: 117.492 (5)
  PetaboxLoader3.resolve: 222.968 (3)
  load_resource: 321.616 (2)
*/