
.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 07:47:09 May 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:20:35 Sep 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.501
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.009
  esindex: 0.009
  cdx.remote: 13.68
  LoadShardBlock: 49.129 (3)
  PetaboxLoader3.datanode: 69.939 (4)
  load_resource: 137.418
  PetaboxLoader3.resolve: 109.004
*/