
#edit-mollom-captcha {
  display: block;
}

/* Help themes to properly display Mollom's log messages. */
.dblog-event pre,
#simpletest-result-form table td {
  white-space: pre-wrap;
}

/*
     FILE ARCHIVED ON 07:47:11 May 05, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:20:35 Sep 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.616
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.011
  cdx.remote: 6.973
  LoadShardBlock: 37.054 (3)
  PetaboxLoader3.datanode: 37.934 (4)
  load_resource: 32.754
  PetaboxLoader3.resolve: 25.809
*/